{% extends 'admin/base.html.twig' %}
{% block title %}{{ category.name }}{% endblock %}
{% block body %}
<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
<a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Back</a>
{% endblock %}
