@import "tailwindcss";
@config "../../tailwind.config.js";
@source "../**/*.js";
@source "../**/*.vue";
@source "../../templates/**/*.html.twig";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
    }

    .admin-layout {
        @apply bg-background text-foreground antialiased;
    }
}
