{% extends 'admin/base.html.twig' %}
{% block title %}New Category{% endblock %}
{% block body %}
<h1>Create Category</h1>
{{ form_start(form) }}{{ form_widget(form) }}
<button type="submit" class="btn btn-primary mt-3">Create</button>
<a href="{{ path('admin_category_index') }}" class="btn btn-secondary mt-3">Cancel</a>
{{ form_end(form) }}
{% endblock %}
