{% extends 'admin/base.html.twig' %}

{% block title %}Create Category{% endblock %}

{% block body %}
<div class="dashboard-welcome mb-4">
    <h1>Create New Category</h1>
    <p class="subtitle">Add a new category to organize your content</p>
</div>

{# Vue Category Form #}
<div
    data-vue-island="category-form"
    data-api-url="{{ path('api_categories_index') }}"
    data-cancel-url="{{ path('admin_category_index') }}"
></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('category-form-app') }}
{% endblock %}
