{% extends 'emails/base.html.twig' %}

{% block title %}Password Changed Successfully{% endblock %}

{% block header %}Password Changed{% endblock %}

{% block body %}
    <h2>Hello {{ userName }},</h2>

    <p>This email confirms that your password was successfully changed.</p>

    <div class="info-box">
        <p><strong>Security Notice:</strong></p>
        <ul style="margin: 5px 0;">
            <li>Your password was changed on {{ 'now'|date('F j, Y \\a\\t g:i A') }}</li>
            <li>If you did not make this change, please contact an administrator immediately</li>
            <li>For your security, you may need to log in again on all your devices</li>
        </ul>
    </div>

    <p>If you did not request this change, please contact support immediately as your account may be compromised.</p>
{% endblock %}

{% block footer %}
    This is a security notification from ReSymf CMS.
{% endblock %}
