{% extends 'admin/base.html.twig' %}

{% block title %}Create Page{% endblock %}

{% block body %}
<h1>Create New Page</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create Page</button>
        <a href="{{ path('admin_page_index') }}" class="btn btn-secondary">Cancel</a>
    </div>
{{ form_end(form) }}
{% endblock %}
